.header {
  position: sticky; /* Sticky position */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: #000; /* Background color for visibility */
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow for better separation */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  
}

.logo h1 {
  font-size: 2rem;
  margin: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav ul li a:hover {
  color: #9b4e32;
}

.ctaButton {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transitions */
}

.ctaButton:hover {
  background-color: #191b1c;
  color: #9b4e32;
  transform: scale(1.05); /* Slightly enlarge the button */
}
