.twoColumnSection {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #191b1c;
    /* background: linear-gradient(to bottom, #191b1c 80%, #ffffff); */
    color: #dcd9d4;
    width: 100%;
    height: auto; /* Adjust the height based on content */
  }
  
  .column {
    flex: 1;
  }
  
  .imageColumn {
    display: flex; /* Ensure the image column is flex */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }
  
  .imageColumn .image {
    max-width: 50%; /* Adjust as needed for the size */
    max-height: 120%; /* Make it slightly taller than the text */
    border-radius: 8px;
  }
  
  .textColumn {
    padding: 10px;
  }
  
  .textColumn h2 {
    margin-bottom: 15px;
  }
  
  .textColumn ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .textColumn li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .twoColumnSection {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
    }
  }
  